/* Error: Undefined mixin.
 *   ,
 * 1 | / @include desktop() {
 * 2 | |     .order-1 {
 * 3 | |         order: 1;
 * 4 | |     }
 * 5 | |     .order-2 {
 * 6 | |         order: 2;
 * 7 | |     }
 * 8 | \ }
 *   '
 *   sass\work.scss 1:1  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a   \2577 \a 1 \2502  \250c  @include desktop() {\a 2 \2502  \2502      .order-1 {\a 3 \2502  \2502          order: 1;\a 4 \2502  \2502      }\a 5 \2502  \2502      .order-2 {\a 6 \2502  \2502          order: 2;\a 7 \2502  \2502      }\a 8 \2502  \2514  }\a   \2575 \a   sass\\work.scss 1:1  root stylesheet";
}
