.link,
.btn {
	background-color: var(--gray-light-color);
	color: var(--second-color);
	text-align: center;
	border-radius: 5px;
	padding: 0.5rem 1rem;
	-webkit-transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
	-o-transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
	transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
	outline: none;
	border: none;
	cursor: pointer;
	text-decoration: none;
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	
}
.link {
	background-color: transparent;
	color: var(--white-color);
	display: block;
	padding: 1rem;
	height: 100%;

	display: -webkit-box;

	display: -ms-flexbox;

	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.btn-call {
	background-color: transparent;
	width: 3rem;
	height: 3rem;
	background-image: url('../image/icon/phone.svg');
	background-size: cover;
}
.btn-call:hover {
	background-color: transparent !important;
	background-image: url('../image/icon/phone-active.svg');
}
.link:hover {
	// background-color: var(--first-alpha-color);
	// color: var(--white-color);
	// display: block;
	// padding: 1rem;
	// height: 100%;
}
.btn:hover {
	background-color: var(--first-alpha-color);
	color: var(--gray-light-color);
}
.btn:active {
	-webkit-box-shadow: 0px 0px 8px 2px var(--first-alpha-color) inset;
	        box-shadow: 0px 0px 8px 2px var(--first-alpha-color) inset;
}

header {
	width: 100%;
	height: 4rem;
	background-color: var(--second-alpha-color);

	display: -webkit-box;

	display: -ms-flexbox;

	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
