.container {
	margin-left: auto;
	margin-right: auto;
}

/* ********** HeroImage ********** */
.hero-image {
	background-image: var(--hero-image);

	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: var(--hero-attachment);
}
.hero-image-opacity {
	width: 100%;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: var(--hero-opacity-color);
}

.hero-image-title {
	font-size: 7.5vw;
	color: var(--hero-text-color);
}
/* ********** Carousel ********** */
@keyframes carousel-slide {
	0% {
		transform: translateX(0%);
	}

	25% {
		transform: translateX(-25%);
	}

	50% {
		transform: translateX(-50%);
	}

	75% {
		transform: translateX(-75%);
	}
}

.carousel {
	margin: 2rem auto;
	padding: 2rem 0;
	max-width: 800px;
	text-align: center;
	overflow-x: hidden;
	background-color: var(--carousel-bg-color);
}

.carousel .slides {
	padding-left: 0;
	/* 100% por cada slide */
	width: 400%;
	display: flex;
	list-style: none;
	transition: transform 0.5s ease-in-out;
	animation: carousel-slide 12s ease-in-out 3s;

	gap: 0.5rem;
}

.carousel input {
	display: none;
}

.carousel label {
	border: medium solid var(--gray-dark-color);
	border-radius: 50%;
	margin: 0 0.25rem;
	display: inline-block;
	width: 0.75rem;
	height: 0.75rem;
	cursor: pointer;
}

.slide {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	align-items: center;
}

#slide-1:checked ~ .slides {
	transform: translateX(0%);
}

#slide-2:checked ~ .slides {
	transform: translateX(-25%);
}

#slide-3:checked ~ .slides {
	transform: translateX(-50%);
}

#slide-4:checked ~ .slides {
	transform: translateX(-75%);
}
.slides-nav {
	margin-top: 1rem;
}
#slide-1:checked ~ .slides-nav label#dot-1,
#slide-2:checked ~ .slides-nav label#dot-2,
#slide-3:checked ~ .slides-nav label#dot-3,
#slide-4:checked ~ .slides-nav label#dot-4 {
	background-color: var(--gray-dark-color);
}
/* ********** Utilities ********** */
.avatar {
	border-radius: 50%;
	width: 150px;
	height: 150px;
	object-fit: cover;
	object-position: center -2px;
}
