@import 'values';
@import 'mixins';
@include desktop() {
	.order-1 {
		-webkit-box-ordinal-group: 2;
		    -ms-flex-order: 1;
		        order: 1;
	}
	.order-2 {
		-webkit-box-ordinal-group: 3;
		    -ms-flex-order: 2;
		        order: 2;
	}
}
.container-v1 {
	padding: 0 1rem;
	@include desktop() {
		padding: 0 5rem;
	}
	
}
.title {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	color: var(--second-alpha-color);
	height: 3rem;
	position: relative;
}
.title::after,
.title::before {
	content: '';
	position: absolute;
}
.title::before {
	bottom: 1%;
	width: 100%;
	height: 4px;
	background-color: var(--first-color);
}
.title::after {
	bottom: -6.5px;
	width: 15px;
	height: 15px;
	// background-color: var(--second-alpha-color);
	background-image: -o-radial-gradient(
		center,
		circle,
		var(--second-alpha-color) 30%,
		white 30%
	);
	background-image: radial-gradient(
		circle at center,
		var(--second-alpha-color) 30%,
		white 30%
	);
	border-radius: 50%;
}
.text2-color {
	color: var(--black-color);
}
.text3-color {
	color: var(--first-color);
}
.cards-work {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	gap: 2rem;
}

.card-work {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	gap: 0.5rem;
	div {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		gap: 0.5rem;
		@include desktop() {
			gap: 2.5rem;
		}
		.btn-work {
			@include desktop() {
				gap: 1rem;
			}
		}
	}
	@include desktop() {
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		    -ms-flex-direction: row;
		        flex-direction: row;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		gap: 2rem;
		border-top: thin solid var(--first-color);

		&:first-child {
			border-top: thin solid transparent;
		}
	}
}
.btn-work a:nth-child(1) {
	background-color: var(--first-color);
	color: var(--white-color);
}
.btn-work a:nth-child(1):hover {
	opacity: 0.75;
	background-color: #18cc15;
	color: var(--second-color);
}
.btn-work a:nth-child(2) {
	border: 2px solid var(--first-color);
	color: var(--second-color);
}
.btn-work a:nth-child(2):hover {
	opacity: 0.75;
	background-color: #18cc15;
	color: var(--white-color);
}
